In [1]:
#Importamos librerias y ponemos las rutas de los datasets

import pandas as pd
import gzip
import ast
from datetime import datetime
import calendar
import re

path1 = 'D:/MaysonPenayo/Escritorio/proyecto-steam/steam_games.json.gz'
path2 = 'D:/MaysonPenayo/Escritorio/proyecto-steam/user_reviews.json.gz' 
path3 = 'D:/MaysonPenayo/Escritorio/proyecto-steam/users_items.json.gz'

In [19]:
#Abrimos el dataset 

with gzip.open(path1, 'rt', encoding='utf-8') as f:
    df_games = pd.read_json(f, lines=True)

In [20]:
#Generamos la funcion para poder leer los otros dos datasets

def leer_json_gzip(file) :
    with gzip.open(file, 'rt', encoding='utf-8') as miArchivo:
        return [ast.literal_eval(line.strip()) for line in miArchivo]

In [64]:
#Generamos la funcion para desanidar las columnas items y reviews
def de_nest_items(df):
    items = df['items'].explode()
    df = df.drop('items', axis=1)
    df = df.join(items.apply(pd.Series))
    return df

In [65]:
#Leemos el dataset
datos_items = leer_json_gzip(path3)
df_items = pd.DataFrame(datos_items)

In [66]:
#Leemos un elemento del dataset para ver la estructura anidada
df_items_1 = df_items.sample(1)
for item in df_items_1['items']:
    print(item)

[{'item_id': '4000', 'item_name': "Garry's Mod", 'playtime_forever': 63644, 'playtime_2weeks': 380}, {'item_id': '320', 'item_name': 'Half-Life 2: Deathmatch', 'playtime_forever': 170, 'playtime_2weeks': 0}, {'item_id': '340', 'item_name': 'Half-Life 2: Lost Coast', 'playtime_forever': 402, 'playtime_2weeks': 0}, {'item_id': '380', 'item_name': 'Half-Life 2: Episode One', 'playtime_forever': 1161, 'playtime_2weeks': 0}, {'item_id': '420', 'item_name': 'Half-Life 2: Episode Two', 'playtime_forever': 2918, 'playtime_2weeks': 0}, {'item_id': '34600', 'item_name': 'Order of War', 'playtime_forever': 12179, 'playtime_2weeks': 0}, {'item_id': '34030', 'item_name': 'Napoleon: Total War', 'playtime_forever': 4742, 'playtime_2weeks': 0}, {'item_id': '57300', 'item_name': 'Amnesia: The Dark Descent', 'playtime_forever': 741, 'playtime_2weeks': 0}, {'item_id': '105600', 'item_name': 'Terraria', 'playtime_forever': 6168, 'playtime_2weeks': 0}, {'item_id': '58610', 'item_name': 'Wargame: European Escalation', 'playtime_forever': 723, 'playtime_2weeks': 0}, {'item_id': '221260', 'item_name': 'Little Inferno', 'playtime_forever': 1555, 'playtime_2weeks': 0}, {'item_id': '38830', 'item_name': 'CrimeCraft GangWars', 'playtime_forever': 18, 'playtime_2weeks': 0}, {'item_id': '213650', 'item_name': 'Dwarfs F2P', 'playtime_forever': 294, 'playtime_2weeks': 0}, {'item_id': '236390', 'item_name': 'War Thunder', 'playtime_forever': 0, 'playtime_2weeks': 0}, {'item_id': '223750', 'item_name': 'DCS World', 'playtime_forever': 0, 'playtime_2weeks': 0}, {'item_id': '231430', 'item_name': 'Company of Heroes 2', 'playtime_forever': 3828, 'playtime_2weeks': 0}, {'item_id': '227940', 'item_name': 'Heroes & Generals', 'playtime_forever': 0, 'playtime_2weeks': 0}, {'item_id': '730', 'item_name': 'Counter-Strike: Global Offensive', 'playtime_forever': 1600, 'playtime_2weeks': 67}, {'item_id': '391540', 'item_name': 'Undertale', 'playtime_forever': 1867, 'playtime_2weeks': 0}, {'item_id': '427920', 'item_name': 'FNaF World', 'playtime_forever': 2652, 'playtime_2weeks': 0}, {'item_id': '359550', 'item_name': "Tom Clancy's Rainbow Six Siege", 'playtime_forever': 22578, 'playtime_2weeks': 3038}, {'item_id': '427730', 'item_name': "Who's Your Daddy", 'playtime_forever': 109, 'playtime_2weeks': 0}]

In [67]:
#Desanidamos la columna items 
items = df_items['items'].explode()
df_items = df_items.drop('items', axis=1)
df_items = df_items.join(items.apply(pd.Series))

In [68]:
#Vemos nuevamente el dataset para entender su estructura
df_items

,user_id,items_count,steam_id,user_url,item_id,item_name,playtime_forever,playtime_2weeks,0
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,10,Counter-Strike,6.0,0.0,NaN
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,20,Team Fortress Classic,0.0,0.0,NaN
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,30,Day of Defeat,7.0,0.0,NaN
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,40,Deathmatch Classic,0.0,0.0,NaN
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,50,Half-Life: Opposing Force,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...
88308,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,373330,All Is Dust,0.0,0.0,NaN
88308,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,388490,One Way To Die: Steam Edition,3.0,3.0,NaN
88308,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,521570,You Have 10 Seconds 2,4.0,4.0,NaN
88308,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,519140,Minds Eyes,3.0,3.0,NaN
88309,edward_tremethick,0,76561198331598578,http://steamcommunity.com/id/edward_tremethick,NaN,NaN,NaN,NaN,NaN

In [69]:
#Guardamos el archivo asi no tenemos que volver a esperar 40 min

df_items_exploded = df_items.to_parquet("df_items_exploded.parquet", index=False)

In [70]:
df_items

,user_id,items_count,steam_id,user_url,item_id,item_name,playtime_forever,playtime_2weeks,0
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,10,Counter-Strike,6.0,0.0,NaN
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,20,Team Fortress Classic,0.0,0.0,NaN
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,30,Day of Defeat,7.0,0.0,NaN
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,40,Deathmatch Classic,0.0,0.0,NaN
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,50,Half-Life: Opposing Force,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...
88308,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,373330,All Is Dust,0.0,0.0,NaN
88308,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,388490,One Way To Die: Steam Edition,3.0,3.0,NaN
88308,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,521570,You Have 10 Seconds 2,4.0,4.0,NaN
88308,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,519140,Minds Eyes,3.0,3.0,NaN
88309,edward_tremethick,0,76561198331598578,http://steamcommunity.com/id/edward_tremethick,NaN,NaN,NaN,NaN,NaN

In [71]:
#Dropeamos las columnas innecesarias para el EDA y para las posteriores funciones
df_items.drop([0,'steam_id','playtime_2weeks','user_url','items_count'], axis=1, inplace=True)

In [72]:
df_items

,user_id,item_id,item_name,playtime_forever
0,76561197970982479,10,Counter-Strike,6.0
0,76561197970982479,20,Team Fortress Classic,0.0
0,76561197970982479,30,Day of Defeat,7.0
0,76561197970982479,40,Deathmatch Classic,0.0
0,76561197970982479,50,Half-Life: Opposing Force,0.0
...,...,...,...,...
88308,76561198329548331,373330,All Is Dust,0.0
88308,76561198329548331,388490,One Way To Die: Steam Edition,3.0
88308,76561198329548331,521570,You Have 10 Seconds 2,4.0
88308,76561198329548331,519140,Minds Eyes,3.0
88309,edward_tremethick,NaN,NaN,NaN

In [73]:
#Dropeamos las filas que tengan todos nulos
df_items.dropna(how='all', inplace=True)

In [74]:
#Dropeamos los duplicados
df_items=df_items.drop_duplicates()

In [75]:
#Dropeamos las filas que tengan valores nulos en las columnas que necesitaremos para hacer las funciones
df_items.dropna(subset=['playtime_forever'],inplace=True)
df_items.dropna(subset=['item_id'],inplace=True)
df_items.dropna(subset=['user_id'],inplace=True)

C:\Users\MaysonPenayo\AppData\Local\Temp\ipykernel_524\3152695872.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_items.dropna(subset=['playtime_forever'],inplace=True)
C:\Users\MaysonPenayo\AppData\Local\Temp\ipykernel_524\3152695872.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_items.dropna(subset=['item_id'],inplace=True)
C:\Users\MaysonPenayo\AppData\Local\Temp\ipykernel_524\3152695872.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_items.dropna(subset=['user_id'],inplace=True)

In [76]:
df_items

,user_id,item_id,item_name,playtime_forever
0,76561197970982479,10,Counter-Strike,6.0
0,76561197970982479,20,Team Fortress Classic,0.0
0,76561197970982479,30,Day of Defeat,7.0
0,76561197970982479,40,Deathmatch Classic,0.0
0,76561197970982479,50,Half-Life: Opposing Force,0.0
...,...,...,...,...
88308,76561198329548331,346330,BrainBread 2,0.0
88308,76561198329548331,373330,All Is Dust,0.0
88308,76561198329548331,388490,One Way To Die: Steam Edition,3.0
88308,76561198329548331,521570,You Have 10 Seconds 2,4.0
88308,76561198329548331,519140,Minds Eyes,3.0

In [77]:
#Buscamos la info para ver cuanto pesa y los tipos de datos 
df_items.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5094092 entries, 0 to 88308
Data columns (total 4 columns):
 #   Column            Dtype
---  ------            -----
 0   user_id           object
 1   item_id           object
 2   item_name         object
 3   playtime_forever  float64
dtypes: float64(1), object(3)
memory usage: 194.3+ MB

In [78]:
#Guardamos el archivo
df_items_data = df_items.to_parquet("df_items_data.parquet", index=False)

In [79]:
#Creamos un sample del dataframe items ya que es demasiado grande para RENDER 
df_items_sample = df_items.sample(50000)
df_items_sample.to_parquet("df_items_sample.parquet", index=False)

In [90]:
#Leemos el ultimo dataset
datos_reviews = leer_json_gzip(path2)
df_reviews = pd.DataFrame(datos_reviews)

In [91]:
df_reviews

,user_id,user_url,reviews
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'funny': '', 'posted': 'Posted November 5, 2..."
1,js41637,http://steamcommunity.com/id/js41637,"[{'funny': '', 'posted': 'Posted June 24, 2014..."
2,evcentric,http://steamcommunity.com/id/evcentric,"[{'funny': '', 'posted': 'Posted February 3.',..."
3,doctr,http://steamcommunity.com/id/doctr,"[{'funny': '', 'posted': 'Posted October 14, 2..."
4,maplemage,http://steamcommunity.com/id/maplemage,"[{'funny': '3 people found this review funny',..."
...,...,...,...
25794,76561198306599751,http://steamcommunity.com/profiles/76561198306...,"[{'funny': '', 'posted': 'Posted May 31.', 'la..."
25795,Ghoustik,http://steamcommunity.com/id/Ghoustik,"[{'funny': '', 'posted': 'Posted June 17.', 'l..."
25796,76561198310819422,http://steamcommunity.com/profiles/76561198310...,"[{'funny': '1 person found this review funny',..."
25797,76561198312638244,http://steamcommunity.com/profiles/76561198312...,"[{'funny': '', 'posted': 'Posted July 21.', 'l..."
25798,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,"[{'funny': '1 person found this review funny',..."

In [92]:
#Se importa la librería a usar (posterior a la instalación del paquete TextBlob) para realizar el análisis de sentimientos
from textblob import TextBlob

In [93]:
#Se crea la función para realizar el análisis de sentimientos
def sentiment_analysis(review):
    if isinstance(review, list) and len(review) > 0:
        text = review[0].get('review', '')
        sentiment = TextBlob(text).sentiment.polarity
        
        if sentiment < -0.2:
            return 0 # Negativo
        elif sentiment >= -0.2 and sentiment <= 0.2:
            return 1 # Neutral
        else:
            return 2 # Positivo
    else:
        return 1 # Valor para casos en que la reseña escrita este ausente

In [94]:
#Aplicamos la funcion al dataframe y generamos una nueva columna
df_reviews['sentiment_analysis'] = df_reviews['reviews'].apply(sentiment_analysis)

In [95]:
df_reviews

,user_id,user_url,reviews,sentiment_analysis
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'funny': '', 'posted': 'Posted November 5, 2...",1
1,js41637,http://steamcommunity.com/id/js41637,"[{'funny': '', 'posted': 'Posted June 24, 2014...",1
2,evcentric,http://steamcommunity.com/id/evcentric,"[{'funny': '', 'posted': 'Posted February 3.',...",2
3,doctr,http://steamcommunity.com/id/doctr,"[{'funny': '', 'posted': 'Posted October 14, 2...",2
4,maplemage,http://steamcommunity.com/id/maplemage,"[{'funny': '3 people found this review funny',...",1
...,...,...,...,...
25794,76561198306599751,http://steamcommunity.com/profiles/76561198306...,"[{'funny': '', 'posted': 'Posted May 31.', 'la...",2
25795,Ghoustik,http://steamcommunity.com/id/Ghoustik,"[{'funny': '', 'posted': 'Posted June 17.', 'l...",1
25796,76561198310819422,http://steamcommunity.com/profiles/76561198310...,"[{'funny': '1 person found this review funny',...",1
25797,76561198312638244,http://steamcommunity.com/profiles/76561198312...,"[{'funny': '', 'posted': 'Posted July 21.', 'l...",2
25798,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,"[{'funny': '1 person found this review funny',...",1

In [96]:
# Usamos explode() para desanidar las revisiones
df_reviews_aux = df_reviews.explode('reviews')

# Convertimos la columna 'reviews' en un DataFrame
df_reviews_aux = pd.concat([df_reviews_aux.drop(['reviews'], axis=1), df_reviews_aux['reviews'].apply(pd.Series)], axis=1)


df_reviews_aux

,user_id,user_url,sentiment_analysis,funny,posted,last_edited,item_id,helpful,recommend,review,0
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,1,,"Posted November 5, 2011.",,1250,No ratings yet,True,Simple yet with great replayability. In my opi...,NaN
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,1,,"Posted July 15, 2011.",,22200,No ratings yet,True,It's unique and worth a playthrough.,NaN
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,1,,"Posted April 21, 2011.",,43110,No ratings yet,True,Great atmosphere. The gunplay can be a bit chu...,NaN
1,js41637,http://steamcommunity.com/id/js41637,1,,"Posted June 24, 2014.",,251610,15 of 20 people (75%) found this review helpful,True,I know what you think when you see this title ...,NaN
1,js41637,http://steamcommunity.com/id/js41637,1,,"Posted September 8, 2013.",,227300,0 of 1 people (0%) found this review helpful,True,For a simple (it's actually not all that simpl...,NaN
...,...,...,...,...,...,...,...,...,...,...,...
25797,76561198312638244,http://steamcommunity.com/profiles/76561198312...,2,,Posted July 10.,,70,No ratings yet,True,a must have classic from steam definitely wort...,NaN
25797,76561198312638244,http://steamcommunity.com/profiles/76561198312...,2,,Posted July 8.,,362890,No ratings yet,True,this game is a perfect remake of the original ...,NaN
25798,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,1,1 person found this review funny,Posted July 3.,,273110,1 of 2 people (50%) found this review helpful,True,had so much fun plaing this and collecting res...,NaN
25798,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,1,,Posted July 20.,,730,No ratings yet,True,:D,NaN
25798,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,1,,Posted July 2.,,440,No ratings yet,True,so much fun :D,NaN

In [97]:
#Dropeamos las columnas que no son pertinentes para el EDA y para las funciones
df_reviews_aux.drop([0,'helpful','funny','last_edited','review','user_url'], axis=1, inplace=True)

In [98]:
df_reviews_aux

,user_id,sentiment_analysis,posted,item_id,recommend
0,76561197970982479,1,"Posted November 5, 2011.",1250,True
0,76561197970982479,1,"Posted July 15, 2011.",22200,True
0,76561197970982479,1,"Posted April 21, 2011.",43110,True
1,js41637,1,"Posted June 24, 2014.",251610,True
1,js41637,1,"Posted September 8, 2013.",227300,True
...,...,...,...,...,...
25797,76561198312638244,2,Posted July 10.,70,True
25797,76561198312638244,2,Posted July 8.,362890,True
25798,LydiaMorley,1,Posted July 3.,273110,True
25798,LydiaMorley,1,Posted July 20.,730,True
25798,LydiaMorley,1,Posted July 2.,440,True

In [99]:
#Dropeamos aquellas filas que tengan solo nulos
df_reviews_aux.dropna(axis=0, how='all',inplace=True)

In [100]:
#Dropeamos duplicados
df_reviews_aux2 = df_reviews_aux.drop_duplicates()

In [101]:
#Creamos la funcion para extraer de la columna posted solo el año que sera util para el EDA y las funciones

def extract_year(date_str):
    if pd.notna(date_str) and isinstance(date_str, str):
        # Usamos expresiones regulares para extraer el año
        match = re.match(r'Posted .* (\d{4})', date_str)
        if match:
            year = match.group(1)
            return int(year)
    return pd.NaT  # Devolvemos nulo si no coincide el formato

In [102]:
df_reviews_aux2['posted'] = df_reviews_aux2['posted'].apply(extract_year)
df_reviews_aux2

C:\Users\MaysonPenayo\AppData\Local\Temp\ipykernel_524\461629194.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reviews_aux2['posted'] = df_reviews_aux2['posted'].apply(extract_year)

                 user_id  sentiment_analysis posted item_id recommend
0      76561197970982479                   1   2011    1250      True
0      76561197970982479                   1   2011   22200      True
0      76561197970982479                   1   2011   43110      True
1                js41637                   1   2014  251610      True
1                js41637                   1   2013  227300      True
...                  ...                 ...    ...     ...       ...
25797  76561198312638244                   2    NaN      70      True
25797  76561198312638244                   2    NaN  362890      True
25798        LydiaMorley                   1    NaN  273110      True
25798        LydiaMorley                   1    NaN     730      True
25798        LydiaMorley                   1    NaN     440      True

[58459 rows x 5 columns]

In [103]:
#Dropeamos los nulos resultantes de aplicar la funcion extract year
df_reviews_aux2.dropna(subset={'posted'}, inplace=True)

df_reviews_aux2

C:\Users\MaysonPenayo\AppData\Local\Temp\ipykernel_524\2496603086.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reviews_aux2.dropna(subset={'posted'}, inplace=True)

                 user_id  sentiment_analysis posted item_id recommend
0      76561197970982479                   1   2011    1250      True
0      76561197970982479                   1   2011   22200      True
0      76561197970982479                   1   2011   43110      True
1                js41637                   1   2014  251610      True
1                js41637                   1   2013  227300      True
...                  ...                 ...    ...     ...       ...
25764            wayfeng                   1   2015     730      True
25765  76561198251004808                   2   2015  253980      True
25769        72947282842                   0   2015     730      True
25771          ApxLGhost                   1   2015     730      True
25780  76561198267374962                   2   2015  369200      True

[48498 rows x 5 columns]

In [104]:
#Revisamos la info para ver los tipos de datos y cuanto pesa el archivo
df_reviews_aux2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 48498 entries, 0 to 25780
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   user_id             48498 non-null  object
 1   sentiment_analysis  48498 non-null  int64
 2   posted              48498 non-null  object
 3   item_id             48498 non-null  object
 4   recommend           48498 non-null  object
dtypes: int64(1), object(4)
memory usage: 2.2+ MB

In [105]:
#Guardamos el archivo
df_reviews_data = df_reviews_aux2.to_csv("df_reviews_data.csv", index=False)

In [106]:
#Visualizamos el dataset de juegos
df_games

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,specs,price,early_access,id,developer
0,None,None,None,None,None,None,None,None,None,None,NaN,NaN,None
1,None,None,None,None,None,None,None,None,None,None,NaN,NaN,None
2,None,None,None,None,None,None,None,None,None,None,NaN,NaN,None
3,None,None,None,None,None,None,None,None,None,None,NaN,NaN,None
4,None,None,None,None,None,None,None,None,None,None,NaN,NaN,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...
120440,Ghost_RUS Games,"[Casual, Indie, Simulation, Strategy]",Colony On Mars,Colony On Mars,http://store.steampowered.com/app/773640/Colon...,2018-01-04,"[Strategy, Indie, Casual, Simulation]",http://steamcommunity.com/app/773640/reviews/?...,"[Single-player, Steam Achievements]",1.99,0.0,773640.0,"Nikita ""Ghost_RUS"""
120441,Sacada,"[Casual, Indie, Strategy]",LOGistICAL: South Africa,LOGistICAL: South Africa,http://store.steampowered.com/app/733530/LOGis...,2018-01-04,"[Strategy, Indie, Casual]",http://steamcommunity.com/app/733530/reviews/?...,"[Single-player, Steam Achievements, Steam Clou...",4.99,0.0,733530.0,Sacada
120442,Laush Studio,"[Indie, Racing, Simulation]",Russian Roads,Russian Roads,http://store.steampowered.com/app/610660/Russi...,2018-01-04,"[Indie, Simulation, Racing]",http://steamcommunity.com/app/610660/reviews/?...,"[Single-player, Steam Achievements, Steam Trad...",1.99,0.0,610660.0,Laush Dmitriy Sergeevich
120443,SIXNAILS,"[Casual, Indie]",EXIT 2 - Directions,EXIT 2 - Directions,http://store.steampowered.com/app/658870/EXIT_...,2017-09-02,"[Indie, Casual, Puzzle, Singleplayer, Atmosphe...",http://steamcommunity.com/app/658870/reviews/?...,"[Single-player, Steam Achievements, Steam Cloud]",4.99,0.0,658870.0,"xropi,stev3ns"
120444,None,None,Maze Run VR,None,http://store.steampowered.com/app/681550/Maze_...,None,"[Early Access, Adventure, Indie, Action, Simul...",http://steamcommunity.com/app/681550/reviews/?...,"[Single-player, Stats, Steam Leaderboards, HTC...",4.99,1.0,681550.0,None

In [107]:
#Dropeamos filas que tengan solo nulos
df_games.dropna(axis=0, how='all',inplace=True)

In [108]:
#Dropeamos las columnas que no consideramos pertinentes para el posterior EDA y las funciones
df_games.drop(['publisher','url','reviews_url','price','early_access','developer','specs'],axis=1,inplace=True)

In [109]:
df_games

,genres,app_name,title,release_date,tags,id
88310,"[Action, Casual, Indie, Simulation, Strategy]",Lost Summoner Kitty,Lost Summoner Kitty,2018-01-04,"[Strategy, Action, Indie, Casual, Simulation]",761140.0
88311,"[Free to Play, Indie, RPG, Strategy]",Ironbound,Ironbound,2018-01-04,"[Free to Play, Strategy, Indie, RPG, Card Game...",643980.0
88312,"[Casual, Free to Play, Indie, Simulation, Sports]",Real Pool 3D - Poolians,Real Pool 3D - Poolians,2017-07-24,"[Free to Play, Simulation, Sports, Casual, Ind...",670290.0
88313,"[Action, Adventure, Casual]",弹炸人2222,弹炸人2222,2017-12-07,"[Action, Adventure, Casual]",767400.0
88314,None,Log Challenge,None,None,"[Action, Indie, Casual, Sports]",773570.0
...,...,...,...,...,...,...
120440,"[Casual, Indie, Simulation, Strategy]",Colony On Mars,Colony On Mars,2018-01-04,"[Strategy, Indie, Casual, Simulation]",773640.0
120441,"[Casual, Indie, Strategy]",LOGistICAL: South Africa,LOGistICAL: South Africa,2018-01-04,"[Strategy, Indie, Casual]",733530.0
120442,"[Indie, Racing, Simulation]",Russian Roads,Russian Roads,2018-01-04,"[Indie, Simulation, Racing]",610660.0
120443,"[Casual, Indie]",EXIT 2 - Directions,EXIT 2 - Directions,2017-09-02,"[Indie, Casual, Puzzle, Singleplayer, Atmosphe...",658870.0
120444,None,Maze Run VR,None,None,"[Early Access, Adventure, Indie, Action, Simul...",681550.0

In [110]:
#Dropeamos los juegos duplicados usando su id
df_games.drop_duplicates(subset=['id'], inplace=True)

In [111]:
#Dropeamos los juegos que no tengan ni genero ni tags, o ni appname ni title ya que solo entorpeceran el EDA  y las funciones
df_games.dropna(subset=['genres','tags'],how='all', inplace=True)
df_games.dropna(subset=['app_name','title'],how='all', inplace=True)

In [112]:
df_games

,genres,app_name,title,release_date,tags,id
88310,"[Action, Casual, Indie, Simulation, Strategy]",Lost Summoner Kitty,Lost Summoner Kitty,2018-01-04,"[Strategy, Action, Indie, Casual, Simulation]",761140.0
88311,"[Free to Play, Indie, RPG, Strategy]",Ironbound,Ironbound,2018-01-04,"[Free to Play, Strategy, Indie, RPG, Card Game...",643980.0
88312,"[Casual, Free to Play, Indie, Simulation, Sports]",Real Pool 3D - Poolians,Real Pool 3D - Poolians,2017-07-24,"[Free to Play, Simulation, Sports, Casual, Ind...",670290.0
88313,"[Action, Adventure, Casual]",弹炸人2222,弹炸人2222,2017-12-07,"[Action, Adventure, Casual]",767400.0
88314,None,Log Challenge,None,None,"[Action, Indie, Casual, Sports]",773570.0
...,...,...,...,...,...,...
120440,"[Casual, Indie, Simulation, Strategy]",Colony On Mars,Colony On Mars,2018-01-04,"[Strategy, Indie, Casual, Simulation]",773640.0
120441,"[Casual, Indie, Strategy]",LOGistICAL: South Africa,LOGistICAL: South Africa,2018-01-04,"[Strategy, Indie, Casual]",733530.0
120442,"[Indie, Racing, Simulation]",Russian Roads,Russian Roads,2018-01-04,"[Indie, Simulation, Racing]",610660.0
120443,"[Casual, Indie]",EXIT 2 - Directions,EXIT 2 - Directions,2017-09-02,"[Indie, Casual, Puzzle, Singleplayer, Atmosphe...",658870.0
120444,None,Maze Run VR,None,None,"[Early Access, Adventure, Indie, Action, Simul...",681550.0

In [113]:
#Convertimos en entero la columna id para poder hacer un mejor manejo de datos
df_games['id'] = df_games['id'].astype(int)

In [114]:
# Función para extraer el año de la fecha 
def extract_year(date_str):
    try:
        return pd.to_datetime(date_str, errors='coerce').year
    except:
        return None

# Aplicar la función para extraer solo el año ya que es lo mejor para el EDA y las funciones, los dias y meses no son requeridos
df_games['release_date'] = df_games['release_date'].apply(extract_year)

# Filtrar filas sin año válido
df_games.dropna(subset=['release_date'],how='all', inplace=True)

df_games['release_date'] = df_games['release_date'].astype(int)


df_games

C:\Users\MaysonPenayo\AppData\Local\Temp\ipykernel_524\1855013195.py:4: UserWarning: Parsing dates in %d.%m.%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  return pd.to_datetime(date_str, errors='coerce').year

,genres,app_name,title,release_date,tags,id
88310,"[Action, Casual, Indie, Simulation, Strategy]",Lost Summoner Kitty,Lost Summoner Kitty,2018,"[Strategy, Action, Indie, Casual, Simulation]",761140
88311,"[Free to Play, Indie, RPG, Strategy]",Ironbound,Ironbound,2018,"[Free to Play, Strategy, Indie, RPG, Card Game...",643980
88312,"[Casual, Free to Play, Indie, Simulation, Sports]",Real Pool 3D - Poolians,Real Pool 3D - Poolians,2017,"[Free to Play, Simulation, Sports, Casual, Ind...",670290
88313,"[Action, Adventure, Casual]",弹炸人2222,弹炸人2222,2017,"[Action, Adventure, Casual]",767400
88315,"[Action, Adventure, Simulation]",Battle Royale Trainer,Battle Royale Trainer,2018,"[Action, Adventure, Simulation, FPS, Shooter, ...",772540
...,...,...,...,...,...,...
120439,"[Action, Adventure, Casual, Indie]",Kebab it Up!,Kebab it Up!,2018,"[Action, Indie, Casual, Violent, Adventure]",745400
120440,"[Casual, Indie, Simulation, Strategy]",Colony On Mars,Colony On Mars,2018,"[Strategy, Indie, Casual, Simulation]",773640
120441,"[Casual, Indie, Strategy]",LOGistICAL: South Africa,LOGistICAL: South Africa,2018,"[Strategy, Indie, Casual]",733530
120442,"[Indie, Racing, Simulation]",Russian Roads,Russian Roads,2018,"[Indie, Simulation, Racing]",610660
120443,"[Casual, Indie]",EXIT 2 - Directions,EXIT 2 - Directions,2017,"[Indie, Casual, Puzzle, Singleplayer, Atmosphe...",658870

In [115]:
df_games

,genres,app_name,title,release_date,tags,id
88310,"[Action, Casual, Indie, Simulation, Strategy]",Lost Summoner Kitty,Lost Summoner Kitty,2018,"[Strategy, Action, Indie, Casual, Simulation]",761140
88311,"[Free to Play, Indie, RPG, Strategy]",Ironbound,Ironbound,2018,"[Free to Play, Strategy, Indie, RPG, Card Game...",643980
88312,"[Casual, Free to Play, Indie, Simulation, Sports]",Real Pool 3D - Poolians,Real Pool 3D - Poolians,2017,"[Free to Play, Simulation, Sports, Casual, Ind...",670290
88313,"[Action, Adventure, Casual]",弹炸人2222,弹炸人2222,2017,"[Action, Adventure, Casual]",767400
88315,"[Action, Adventure, Simulation]",Battle Royale Trainer,Battle Royale Trainer,2018,"[Action, Adventure, Simulation, FPS, Shooter, ...",772540
...,...,...,...,...,...,...
120439,"[Action, Adventure, Casual, Indie]",Kebab it Up!,Kebab it Up!,2018,"[Action, Indie, Casual, Violent, Adventure]",745400
120440,"[Casual, Indie, Simulation, Strategy]",Colony On Mars,Colony On Mars,2018,"[Strategy, Indie, Casual, Simulation]",773640
120441,"[Casual, Indie, Strategy]",LOGistICAL: South Africa,LOGistICAL: South Africa,2018,"[Strategy, Indie, Casual]",733530
120442,"[Indie, Racing, Simulation]",Russian Roads,Russian Roads,2018,"[Indie, Simulation, Racing]",610660
120443,"[Casual, Indie]",EXIT 2 - Directions,EXIT 2 - Directions,2017,"[Indie, Casual, Puzzle, Singleplayer, Atmosphe...",658870

In [116]:
#Visualizamos el dataset para ver sus tipos de datos y su peso de archivo.
df_games.info()

<class 'pandas.core.frame.DataFrame'>
Index: 29754 entries, 88310 to 120443
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   genres        28657 non-null  object
 1   app_name      29754 non-null  object
 2   title         29754 non-null  object
 3   release_date  29754 non-null  int32
 4   tags          29730 non-null  object
 5   id            29754 non-null  int32
dtypes: int32(2), object(4)
memory usage: 1.4+ MB

In [117]:
#Guardamos el archivo
df_games_data = df_games.to_csv('df_games_data.csv', index=False)